package application

import (
	"context"

	{{if (ne .DBName "")}}"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/application/ports"{{end}}
	"{{.ProjectName}}/internal/dtos"
	"{{.ProjectName}}/internal/lib"
	"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/application/domain"
)

type (
	{{ capitalize (cleanName .AppName) }} struct {
		RootApp  lib.IApp
		{{if (ne .DBName "")}}
		Repo ports.I{{capitalize (cleanName .AppName)}}Repository
		{{end}}

	}
	
	I{{capitalize (cleanName .AppName)}} interface {
		Get{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params) (todo *dtos.{{capitalize (trimS (cleanName .AppName))}}, err error)
		Find{{capitalize (cleanName .AppName)}}(ctx context.Context, arg *dtos.Find{{capitalize (cleanName .AppName)}}Params) ({{(cleanName .AppName)}} []*dtos.{{capitalize (trimS (cleanName .AppName))}}, err error)
		Create{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Create{{capitalize (trimS (cleanName .AppName))}}Params) (id int64, err error)
		Update{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Update{{capitalize (trimS (cleanName .AppName))}}Params) error
		Delete{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Delete{{capitalize (trimS (cleanName .AppName))}}Params) error
	}

)
var _ I{{capitalize (cleanName .AppName)}} = (*{{capitalize (cleanName .AppName)}})(nil)

{{if (ne .DBName "")}}
func New(rootApp lib.IApp, db ports.I{{capitalize (cleanName .AppName)}}Repository) *{{capitalize (cleanName .AppName)}} {
	return &{{capitalize (cleanName .AppName)}}{
		RootApp:  rootApp,
		Repo: db,
	}
}
{{else}}
func New(rootApp lib.IApp) *{{capitalize (cleanName .AppName)}} {
	return &{{capitalize (cleanName .AppName)}}{
		RootApp:  rootApp,
	}
}
{{end}}


func (t *{{ capitalize (cleanName .AppName) }}) Get{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Get{{ capitalize (trimS (cleanName .AppName)) }}Params) ({{trimS (cleanName .AppName)}} *dtos.{{ capitalize (trimS (cleanName .AppName)) }}, err error) {
	return t.Repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, arg)
}

func (t *{{ capitalize (cleanName .AppName) }}) Find{{ capitalize (cleanName .AppName) }}(ctx context.Context, arg *dtos.Find{{ capitalize (cleanName .AppName) }}Params) ({{(cleanName .AppName)}} []*dtos.{{ capitalize (trimS (cleanName .AppName)) }}, err error) {
	return t.Repo.Find{{capitalize (cleanName .AppName)}}(ctx, arg)
}

func (t *{{ capitalize (cleanName .AppName) }}) Create{{ capitalize (trimS (cleanName .AppName)) }}(ctx context.Context, arg *dtos.Create{{ capitalize (trimS (cleanName .AppName)) }}Params) (id int64, err error) {
	v := lib.NewValidator()
	domain.IsValidUsername(v, arg.Username)
	{{if eq (cleanName .AppName) "users"}}
	domain.IsValidEmail(v, arg.Email)
	domain.IsValidPassword(v, arg.Password)
	{{end}}

	if !v.Valid() {
		return -1, v.Errors()
	}

	{{if eq (cleanName .AppName) "users"}}
	arg.Password, _ = t.RootApp.Hash(arg.Password)
	{{end}}

	return t.Repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, arg)
}

func (t *{{ capitalize (cleanName .AppName) }}) Update{{ capitalize (trimS (cleanName .AppName)) }}(ctx context.Context, arg *dtos.Update{{ capitalize (trimS (cleanName .AppName)) }}Params) error {
	v := lib.NewValidator()
	if arg.Username != nil {
		domain.IsValidUsername(v, *arg.Username)
	}
	{{if eq (cleanName .AppName) "users"}}
	if arg.Email != nil {
		domain.IsValidEmail(v, *arg.Email)
	}
	{{end}}
	if !v.Valid() {
		return v.Errors()
	}

	{{trimS (cleanName .AppName)}}, err := t.Repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params{ID: arg.ID})
	if err != nil {
		return err
	}

	if arg.Username == nil {
		arg.Username = &{{trimS (cleanName .AppName)}}.Username
	}
	{{if eq (cleanName .AppName) "users"}}
	if arg.Email == nil {
		arg.Email = &user.Email
	}
	{{end}}
	return t.Repo.Update{{capitalize (trimS (cleanName .AppName))}}(ctx, arg)
}

func (t *{{ capitalize (cleanName .AppName) }}) Delete{{ capitalize (trimS (cleanName .AppName)) }}(ctx context.Context, arg *dtos.Delete{{ capitalize (trimS (cleanName .AppName)) }}Params) error {
	return t.Repo.Delete{{ capitalize (trimS (cleanName .AppName)) }}(ctx, arg)
}
