package application

import (
	{{if (ne .DBName "")}}"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/application/ports"{{end}}
	"{{.ProjectName}}/internal/lib"
)

type {{ capitalize .AppName }} struct {
	RootApp  lib.IApp
	{{if (ne .DBName "")}}
	Repo ports.I{{capitalize .AppName}}Repository
	{{end}}

}

{{if (ne .DBName "")}}
func New(rootApp lib.IApp, db ports.I{{capitalize .AppName}}Repository) *{{capitalize .AppName}} {
	return &{{capitalize .AppName}}{
		RootApp:  rootApp,
		Repo: db,
	}
}
{{else}}
func New(rootApp lib.IApp) *{{capitalize .AppName}} {
	return &{{capitalize .AppName}}{
		RootApp:  rootApp,
	}
}
{{end}}
