package rest

import (
	"net/http"

	"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/application"
	"{{.ProjectName}}/internal/lib"
)

type {{ capitalize .AppName }}Controller struct {
	lib.IApp
	app *application.{{ capitalize .AppName }}
}

func new{{ capitalize .AppName }}Controller(rootApp lib.IApp, app *application.{{ capitalize .AppName }}) *{{ capitalize .AppName }}Controller {
	return &{{ capitalize .AppName }}Controller{
		rootApp,
		app,
	}
}

func (tc *{{capitalize .AppName}}Controller) find{{capitalize .AppName}}H(w http.ResponseWriter, r *http.Request) {}

func (tc *{{capitalize .AppName}}Controller) create{{capitalize .AppName}}H(w http.ResponseWriter, r *http.Request) {}

func (tc *{{capitalize .AppName}}Controller) get{{capitalize .AppName}}H(w http.ResponseWriter, r *http.Request) {}

func (tc *{{capitalize .AppName}}Controller) update{{capitalize .AppName}}H(w http.ResponseWriter, r *http.Request) {}

func (tc *{{capitalize .AppName}}Controller) delete{{capitalize .AppName}}H(w http.ResponseWriter, r *http.Request) {}
