package dtos

type Get{{capitalize .AppName}}Params struct {}
type Find{{capitalize .AppName}}Params struct {}
type Create{{capitalize .AppName}}Params struct {}
type Update{{capitalize .AppName}}Params struct {}
type Delete{{capitalize .AppName}}Params struct {}