package dtos

import "time"

type (
	{{capitalize (trimS (cleanName .AppName))}} struct {
		ID             int64     `json:"id"`
		Username       string    `json:"username"`
		Email          string    `json:"email"`
		HashedPassword string    `json:"-"`
		CreatedAt      time.Time `json:"created_at"`
		UpdatedAt      time.Time `json:"updated_at"`
	}
	Get{{capitalize (trimS (cleanName .AppName))}}Params struct {
		ID    int64
		Email string
	}
	Find{{capitalize (cleanName .AppName)}}Params  struct{}
	Create{{capitalize (trimS (cleanName .AppName))}}Params struct {
		Username string `json:"username"`
		Email    string `json:"email"`
		Password string `json:"password"`
	}
	Update{{capitalize (trimS (cleanName .AppName))}}Params struct {
		Username *string `json:"username"`
		Email    *string `json:"email"`
		ID       int64  `json:"id"`
	}
	Delete{{capitalize (trimS (cleanName .AppName))}}Params struct {
		ID int64
	}
)
