package {{.AppName}}

import (
	rest "{{.ProjectName}}/internal/apps/{{.AppName}}/internal/adapters/{{.RouterName}}"
	"{{.ProjectName}}/internal/apps/someapp/internal/adapters/{{.DBName}}"
	"{{.ProjectName}}/internal/idi"
	"{{.ProjectName}}/internal/apps/someapp/internal/application"
)

var {{.AppName}}App *application.{{capitalize .AppName}}

func {{ capitalize .AppName }}App() *application.{{ capitalize .AppName }} {
 	return {{.AppName}}App
}

func InitApp(rootApp idi.IApp) {
	{{if (ne .DBName "")}}
		// create app repository
		{{.AppName}}Repo := {{.DBName}}.NewRepository(rootApp.{{capitalize .DBName}}())
		// create app with repository
		{{.AppName}}App = application.New(rootApp, {{ .AppName }}Repo)
	{{else}}
		{{.AppName}}App = application.New(rootApp)
	{{end}}


	// register routes if needed
	rest.RegisterRoutes({{.AppName}}App, idi.NewREST(rootApp.Logger()), rootApp.Mux())
}
