package ports

import (
	"context"

	"{{.ProjectName}}/internal/dtos"
)

type I{{capitalize (cleanName .AppName)}}Repository interface {
	Get{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params) ({{trimS (cleanName .AppName)}} *dtos.{{capitalize (trimS (cleanName .AppName))}}, err error)
	Find{{capitalize (cleanName .AppName)}}(ctx context.Context, arg *dtos.Find{{capitalize (cleanName .AppName)}}Params) ({{(cleanName .AppName)}} []*dtos.{{capitalize (trimS (cleanName .AppName))}}, err error)
	Create{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Create{{capitalize (trimS (cleanName .AppName))}}Params) (id int64, err error)
	Update{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Update{{capitalize (trimS (cleanName .AppName))}}Params) error
	Delete{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Delete{{capitalize (trimS (cleanName .AppName))}}Params) error
}
