package sqlite3

import (
	"context"
	"database/sql"
	"errors"
	"strings"
	"time"

	"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/application/ports"
	"{{.ProjectName}}/internal/dtos"
	"{{.ProjectName}}/internal/lib"
)

type Sqlite3Repository struct {
	db     *sql.DB
	logger lib.ILogger
}

var _ ports.I{{capitalize (cleanName .AppName)}}Repository = (*Sqlite3Repository)(nil)

func NewRepository(db *sql.DB, logger lib.ILogger) *Sqlite3Repository {
	return &Sqlite3Repository{
		db,
		logger,
	}
}

const get{{capitalize (trimS (cleanName .AppName))}}Stmt = `
SELECT
	id,
	username,
	email,
	hashed_password,
	created_at,
	updated_at
FROM
	{{(cleanName .AppName)}}
WHERE
	id = ?
LIMIT
	1
`

func (t *Sqlite3Repository) Get{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params) ({{trimS (cleanName .AppName)}} *dtos.{{capitalize (trimS (cleanName .AppName))}}, err error) {
	if arg.ID <= 0 {
		return nil, lib.ErrNoRecord
	}
	row := t.db.QueryRowContext(ctx, get{{capitalize (trimS (cleanName .AppName))}}Stmt, arg.ID)
	{{trimS (cleanName .AppName)}} = &dtos.{{capitalize (trimS (cleanName .AppName))}}{}
	err = row.Scan(
		&{{trimS (cleanName .AppName)}}.ID,
		&{{trimS (cleanName .AppName)}}.Username,
		&{{trimS (cleanName .AppName)}}.Email,
		&{{trimS (cleanName .AppName)}}.HashedPassword,
		&{{trimS (cleanName .AppName)}}.CreatedAt,
		&{{trimS (cleanName .AppName)}}.UpdatedAt,
	)
	if err != nil {
		switch {
		case errors.Is(err, sql.ErrNoRows):
			return nil, lib.ErrNoRecord

		default:
			return nil, err
		}
	}
	return {{trimS (cleanName .AppName)}}, nil
}

{{if eq (cleanName .AppName) "users"}}
const get{{capitalize (trimS (cleanName .AppName))}}ByEmailStmt = `
SELECT
	id,
	{{trimS (cleanName .AppName)}}name,
	email,
	hashed_password,
	created_at,
	updated_at
FROM
	{{(cleanName .AppName)}}
WHERE
	email = ?
LIMIT
	1
`

func (t *Sqlite3Repository) Get{{capitalize (trimS (cleanName .AppName))}}ByEmail(ctx context.Context, arg *dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params) ({{trimS (cleanName .AppName)}} *dtos.{{capitalize (trimS (cleanName .AppName))}}, err error) {
	if arg.Email == "" {
		return nil, lib.ErrNoRecord
	}
	row := t.db.QueryRowContext(ctx, get{{capitalize (trimS (cleanName .AppName))}}ByEmailStmt, arg.Email)
	{{trimS (cleanName .AppName)}} = &dtos.{{capitalize (trimS (cleanName .AppName))}}{}
	err = row.Scan(
		&{{trimS (cleanName .AppName)}}.ID,
		&{{trimS (cleanName .AppName)}}.Username,
		&{{trimS (cleanName .AppName)}}.Email,
		&{{trimS (cleanName .AppName)}}.HashedPassword,
		&{{trimS (cleanName .AppName)}}.CreatedAt,
		&{{trimS (cleanName .AppName)}}.UpdatedAt,
	)
	if err != nil {
		switch {
		case errors.Is(err, sql.ErrNoRows):
			return nil, lib.ErrNoRecord

		default:
			return nil, err
		}
	}
	return {{trimS (cleanName .AppName)}}, nil
}
{{end}}

const list{{capitalize (cleanName .AppName)}}Stmt = `
SELECT
	id,
	{{trimS (cleanName .AppName)}}name,
	email,
	created_at,
	updated_at
FROM
	{{(cleanName .AppName)}}
`

func (t *Sqlite3Repository) Find{{capitalize (cleanName .AppName)}}(ctx context.Context, arg *dtos.Find{{capitalize (cleanName .AppName)}}Params) ({{(cleanName .AppName)}} []*dtos.{{capitalize (trimS (cleanName .AppName))}}, err error) {
	rows, err := t.db.QueryContext(ctx, list{{capitalize (cleanName .AppName)}}Stmt)
	if err != nil {
		t.logger.Error("unable to query rows", "Find{{capitalize (cleanName .AppName)}}", err)
		return nil, err
	}
	defer func() {
		rowsErr := rows.Close()
		if rowsErr != nil {

			t.logger.Error("unable to close rows", "Find{{capitalize (cleanName .AppName)}}", rowsErr)
			err = errors.Join(err, rowsErr)
		}
	}()

	{{(cleanName .AppName)}} = []*dtos.{{capitalize (trimS (cleanName .AppName))}}{}
	for rows.Next() {
		{{trimS (cleanName .AppName)}} := &dtos.{{capitalize (trimS (cleanName .AppName))}}{}
		if rowErr := rows.Scan(
			&{{trimS (cleanName .AppName)}}.ID,
			&{{trimS (cleanName .AppName)}}.Username,
			&{{trimS (cleanName .AppName)}}.Email,
			&{{trimS (cleanName .AppName)}}.CreatedAt,
			&{{trimS (cleanName .AppName)}}.UpdatedAt,
		); rowErr != nil {
			t.logger.Error("rows Scan() got errors", "Find{{(cleanName .AppName)}}", rowErr)
			err = errors.Join(err, rowErr)
			return nil, err
		}
		{{(cleanName .AppName)}} = append({{(cleanName .AppName)}}, {{trimS (cleanName .AppName)}})
	}
	return {{(cleanName .AppName)}}, err
}

const create{{capitalize (trimS (cleanName .AppName))}}Stmt = `INSERT INTO
	{{(cleanName .AppName)}} ({{trimS (cleanName .AppName)}}name, email, hashed_password)
VALUES
	(?, ?, ?) RETURNING id`

func (t *Sqlite3Repository) Create{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Create{{capitalize (trimS (cleanName .AppName))}}Params) (id int64, err error) {
	row := t.db.QueryRowContext(ctx, create{{capitalize (trimS (cleanName .AppName))}}Stmt, arg.Username, arg.Email, arg.Password)
	err = row.Scan(&id)
	if err != nil {
		switch {
		case strings.Contains(err.Error(), "UNIQUE"):
			return -1, lib.ErrNotUnique{
				Msg: err.Error(),
			}

		default:
			return -1, err
		}
	}
	return id, err
}

const update{{capitalize (trimS (cleanName .AppName))}}Stmt = `
UPDATE
	{{(cleanName .AppName)}}
set
	{{trimS (cleanName .AppName)}}name = ?,
	email = ?,
	updated_at = ?
WHERE
	id = ?
`

func (t *Sqlite3Repository) Update{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Update{{capitalize (trimS (cleanName .AppName))}}Params) error {
	if arg.ID <= 0 {
		return lib.ErrNoRecord
	}
	_, err := t.db.ExecContext(ctx, update{{capitalize (trimS (cleanName .AppName))}}Stmt, *arg.Username, *arg.Email, lib.ITime(time.Now()).Time(), arg.ID)
	return err
}

const delete{{capitalize (trimS (cleanName .AppName))}}Stmt = `
DELETE FROM
	{{(cleanName .AppName)}}
WHERE
	id = ?
`

func (t *Sqlite3Repository) Delete{{capitalize (trimS (cleanName .AppName))}}(ctx context.Context, arg *dtos.Delete{{capitalize (trimS (cleanName .AppName))}}Params) error {
	if arg.ID <= 0 {
		return lib.ErrNoRecord
	}
	_, err := t.db.ExecContext(ctx, delete{{capitalize (trimS (cleanName .AppName))}}Stmt, arg.ID)
	return err
}
