package rest

import "{{.ProjectName}}/internal/dtos"

type (
	Find{{capitalize (cleanName .AppName)}}Response struct {
		{{capitalize (cleanName .AppName)}} []*dtos.{{capitalize (trimS (cleanName .AppName))}} `json:"{{(cleanName .AppName)}}"`
	}
	Create{{capitalize (trimS (cleanName .AppName))}}Response struct {
		{{capitalize (trimS (cleanName .AppName))}}ID int64 `json:"{{trimS (cleanName .AppName)}}_id"`
	}
	Get{{capitalize (trimS (cleanName .AppName))}}Response struct {
		{{capitalize (trimS (cleanName .AppName))}} *dtos.{{capitalize (trimS (cleanName .AppName))}} `json:"{{trimS (cleanName .AppName)}}"`
	}
)
