package rest

import (
	"net/http"

	"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/application"
	"{{.ProjectName}}/internal/lib"

)

func RegisterRoutes(rootApp lib.IApp, app *application.{{ capitalize .AppName }}) {
	ctrlr := New{{ capitalize .AppName }}Controller(rootApp, app)
	mux := ctrlr.Mux()

	mux.HandlerFunc(http.MethodGet, "/{{.AppName}}", ctrlr.Find{{capitalize .AppName}}H)
	mux.HandlerFunc(http.MethodGet, "/{{.AppName}}/:id", ctrlr.Get{{capitalize .AppName}}H)
	mux.HandlerFunc(http.MethodPost, "/{{.AppName}}", ctrlr.Create{{capitalize .AppName}}H)
	mux.HandlerFunc(http.MethodPut, "/{{.AppName}}", ctrlr.Update{{capitalize .AppName}}H)
	mux.HandlerFunc(http.MethodDelete, "/{{.AppName}}", ctrlr.Delete{{capitalize .AppName}}H)
}
