package {{.AppName}}_test

import (
	"bytes"
	"encoding/json"
	"errors"
	"fmt"
	"io"
	"net/http"
	"net/http/httptest"
	"testing"
	"time"

	rest "{{.ProjectName}}/internal/apps/{{.AppName}}/internal/adapters/httprouter"
	"{{.ProjectName}}/internal/dtos"
	"{{.ProjectName}}/internal/lib"

	"github.com/golang/mock/gomock"
	"github.com/julienschmidt/httprouter"
	"github.com/stretchr/testify/assert"
)

// GET /{{.AppName}}
// 200, 500

// GET /{{.AppName}}/:id
// 200, 404, 422, 500

// PUT /{{.AppName}}/:id
// 200, 400, 422, 500

// DELETE /{{.AppName}}/:id
// 200, 404, 422, 500

// Authentication tests

type handlerTests struct {
	url    string
	method string
	tests  []restTc
}

type restTc struct {
	body           []byte
	tcName         string
	schema         string
	targetUrl      string
	expectedStatus int
	mockReturns    []any
}

func createInvalid{{capitalize (trimS .AppName)}}(t *testing.T) []byte {
	uj, err := json.Marshal(&dtos.Create{{capitalize (trimS .AppName)}}Params{
		Username: "",
		Email:    "",
		Password: "",
	})
	assert.Nil(t, err)
	return uj
}

func createRESTTestCases(t *testing.T) []handlerTests {
	t.Helper()

	valid{{capitalize (trimS .AppName)}} := createValid{{capitalize (trimS .AppName)}}(t)
	valid{{capitalize (trimS .AppName)}}Json, err := json.Marshal(valid{{capitalize (trimS .AppName)}})
	assert.Nil(t, err)

	created{{capitalize (trimS .AppName)}} := &dtos.{{capitalize (trimS .AppName)}}{
		ID:        1,
		Username:  randomUsername(),
		{{if eq .AppName "{{.AppName}}"}}
		Email:     randomEmail(),
		{{end}}
		CreatedAt: time.Now(),
		UpdatedAt: time.Now(),
	}
	tc := []handlerTests{
		{
			url:    "/{{.AppName}}",
			method: http.MethodGet,
			// GET /{{.AppName}}
			// 200, 200, 500
			tests: []restTc{
				{
					tcName:         "find {{.AppName}} empty list",
					schema:         find{{capitalize .AppName}}Schema200,
					expectedStatus: http.StatusOK,
					targetUrl:      "/{{.AppName}}",
					mockReturns:    []any{[]*dtos.{{capitalize (trimS .AppName)}}{}, nil},
				},
				{
					tcName:         "find {{.AppName}} with data",
					schema:         find{{capitalize .AppName}}Schema200,
					expectedStatus: http.StatusOK,
					targetUrl:      "/{{.AppName}}",
					mockReturns:    []any{[]*dtos.{{capitalize (trimS .AppName)}}{created{{capitalize (trimS .AppName)}}}, nil},
				},
				{
					tcName:         "internal server error",
					schema:         schema500,
					expectedStatus: http.StatusInternalServerError,
					targetUrl:      "/{{.AppName}}",
					mockReturns:    []any{nil, errors.New("")},
				},
			},
		},
		{
			url:    "/{{.AppName}}/:id",
			method: http.MethodGet,
			// GET /{{.AppName}}/:id
			// 200, 404, 422, 500
			tests: []restTc{
				{
					tcName:         "get user with id",
					schema:         get{{capitalize (trimS .AppName)}}Schema200,
					expectedStatus: http.StatusOK,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{&dtos.{{capitalize (trimS .AppName)}}{ID: 1, Username: "qwer", Email: randomEmail(), CreatedAt: time.Now(), UpdatedAt: time.Now()}, nil},
				},
				{
					tcName:         "record not found",
					schema:         schema404,
					expectedStatus: http.StatusNotFound,
					targetUrl:      "/{{.AppName}}/10000",
					mockReturns:    []any{nil, lib.ErrNoRecord},
				},
				{
					tcName:         "invalid id",
					schema:         schemaInvalidID422,
					expectedStatus: http.StatusUnprocessableEntity,
					targetUrl:      "/{{.AppName}}/{{.ProjectName}}",
					mockReturns:    nil,
				},
				{
					tcName:         "internal server error",
					schema:         schema500,
					expectedStatus: http.StatusInternalServerError,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{nil, errors.New("")},
				},
			},
		},
		{
			url:    "/{{.AppName}}",
			method: http.MethodPost,
			// POST /{{.AppName}}
			// 201, 400, 422, 500
			tests: []restTc{
				{
					tcName:         "",
					schema:         schema201,
					expectedStatus: http.StatusCreated,
					body:           valid{{capitalize (trimS .AppName)}}Json,
					targetUrl:      "/{{.AppName}}",
					mockReturns:    []any{int64(1), nil},
				},
				{
					tcName:         "malformed json",
					schema:         schema400,
					expectedStatus: http.StatusBadRequest,
					targetUrl:      "/{{.AppName}}",
					mockReturns:    []any{int64(1), nil},
					body:           []byte(`{"username":}`),
				},
				{
					tcName:         "validation errors",
					schema:         userValidationSchema422,
					expectedStatus: http.StatusUnprocessableEntity,
					targetUrl:      "/{{.AppName}}",
					mockReturns: []any{
						int64(-1), lib.ErrInvalidData{
							"username": []string{},
							"email":    []string{},
							"password": []string{},
						},
					},
					body: createInvalid{{capitalize (trimS .AppName)}}(t),
				},
				{
					tcName:         "internal server error",
					schema:         schema500,
					expectedStatus: http.StatusInternalServerError,
					targetUrl:      "/{{.AppName}}",
					mockReturns:    []any{int64(-1), errors.New("")},
					body:           valid{{capitalize (trimS .AppName)}}Json,
				},
			},
		},
		{
			url:    "/{{.AppName}}/:id",
			method: http.MethodPatch,
			// 200, 400, 404, 422, 500
			tests: []restTc{
				{
					tcName:         "successful patch",
					schema:         patch{{capitalize (trimS .AppName)}}Schema200,
					expectedStatus: http.StatusOK,
					body:           valid{{capitalize (trimS .AppName)}}Json,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{nil},
				},
				{
					tcName:         "malformed json",
					schema:         schema400,
					expectedStatus: http.StatusBadRequest,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{nil},
					body:           []byte(`{"username":}`),
				},
				{
					tcName:         "record not found",
					schema:         schema404,
					expectedStatus: http.StatusNotFound,
					targetUrl:      "/{{.AppName}}/10000",
					mockReturns:    []any{lib.ErrNoRecord},
					body:           createInvalid{{capitalize (trimS .AppName)}}(t),
				},
				{
					tcName:         "invalid id",
					schema:         schemaInvalidID422,
					expectedStatus: http.StatusUnprocessableEntity,
					targetUrl:      "/{{.AppName}}/-1",
					mockReturns:    []any{nil},
					body:           createInvalid{{capitalize (trimS .AppName)}}(t),
				},
				{
					tcName:         "validation errors",
					schema:         userValidationSchema422,
					expectedStatus: http.StatusUnprocessableEntity,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns: []any{
						lib.ErrInvalidData{
							"username": []string{},
							"email":    []string{},
							"password": []string{},
						},
					},
					body: createInvalid{{capitalize (trimS .AppName)}}(t),
				},
				{
					tcName:         "internal server error",
					schema:         schema500,
					expectedStatus: http.StatusInternalServerError,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{errors.New("")},
					body:           valid{{capitalize (trimS .AppName)}}Json,
				},
			},
		},
		{
			url:    "/{{.AppName}}/:id",
			method: http.MethodDelete,
			// 200, 400, 404, 422, 500
			tests: []restTc{
				{
					tcName:         "successful delete",
					schema:         delete{{capitalize (trimS .AppName)}}Schema200,
					expectedStatus: http.StatusOK,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{nil},
				},
				{
					tcName:         "no record found",
					schema:         schema404,
					expectedStatus: http.StatusNotFound,
					targetUrl:      "/{{.AppName}}/10000",
					mockReturns:    []any{lib.ErrNoRecord},
				},
				{
					tcName:         "invalid id",
					schema:         schemaInvalidID422,
					expectedStatus: http.StatusUnprocessableEntity,
					targetUrl:      "/{{.AppName}}/-1",
					mockReturns:    []any{nil},
					body:           createInvalid{{capitalize (trimS .AppName)}}(t),
				},
				{
					tcName:         "internal server error",
					schema:         schema500,
					expectedStatus: http.StatusInternalServerError,
					targetUrl:      "/{{.AppName}}/1",
					mockReturns:    []any{errors.New("")},
					body:           valid{{capitalize (trimS .AppName)}}Json,
				},
			},
		},
	}

	return tc
}

func createNewRequest(t *testing.T, method, url string, body []byte) *http.Request {
	t.Helper()
	if body != nil {
		return httptest.NewRequest(method, url, bytes.NewReader(body))
	}
	return httptest.NewRequest(method, url, nil)
}

func Test{{capitalize .AppName}}Controller(t *testing.T) {
	t.Parallel()
	ctrl := gomock.NewController(t)
	defer ctrl.Finish()

	for _, handler := range createRESTTestCases(t) {
		for _, tc := range handler.tests {
			t.Run(fmt.Sprintf("-- SchemaValidation | %s  | %s %s - %d", tc.tcName, handler.method, handler.url, tc.expectedStatus), func(t *testing.T) {
				t.Parallel()
				mockApp := NewMockI{{capitalize .AppName}}(ctrl)
				{{.AppName}}Controller := rest.New{{capitalize .AppName}}Controller(rootApp, mockApp)

				router := httprouter.New()

				switch {
				case handler.method == http.MethodGet && handler.url == "/{{.AppName}}":
					router.HandlerFunc(handler.method, handler.url, {{.AppName}}Controller.Find{{capitalize .AppName}}H)
					if tc.mockReturns != nil {
						mockApp.EXPECT().Find{{capitalize .AppName}}(gomock.Any(), gomock.Any()).Return(tc.mockReturns...).Times(1)
					}
				case handler.method == http.MethodGet && handler.url == "/{{.AppName}}/:id":
					router.HandlerFunc(handler.method, handler.url, {{.AppName}}Controller.Get{{capitalize (trimS .AppName)}}H)
					if tc.mockReturns != nil {
						mockApp.EXPECT().Get{{capitalize (trimS .AppName)}}(gomock.Any(), gomock.Any()).Return(tc.mockReturns...).Times(1)
					}

				case handler.method == http.MethodPost && handler.url == "/{{.AppName}}":
					router.HandlerFunc(handler.method, handler.url, {{.AppName}}Controller.Create{{capitalize (trimS .AppName)}}H)
					if tc.mockReturns != nil {
						mockApp.EXPECT().Create{{capitalize (trimS .AppName)}}(gomock.Any(), gomock.Any()).Return(tc.mockReturns...).Times(1)
					}
				case handler.method == http.MethodPatch && handler.url == "/{{.AppName}}/:id":
					router.HandlerFunc(handler.method, handler.url, {{.AppName}}Controller.Patch{{capitalize (trimS .AppName)}}H)
					if tc.mockReturns != nil {
						mockApp.EXPECT().Update{{capitalize (trimS .AppName)}}(gomock.Any(), gomock.Any()).Return(tc.mockReturns...).Times(1)
					}

				case handler.method == http.MethodDelete && handler.url == "/{{.AppName}}/:id":
					router.HandlerFunc(handler.method, handler.url, {{.AppName}}Controller.Delete{{capitalize (trimS .AppName)}}H)
					if tc.mockReturns != nil {
						mockApp.EXPECT().Delete{{capitalize (trimS .AppName)}}(gomock.Any(), gomock.Any()).Return(tc.mockReturns...).Times(1)
					}
				}

				w := httptest.NewRecorder()
				r := createNewRequest(t, handler.method, tc.targetUrl, tc.body)

				router.ServeHTTP(w, r)

				gotStatus := w.Result().StatusCode
				assert.Equalf(t, tc.expectedStatus, gotStatus, "tc: '%s' | %s %s | want %d, got %d", tc.tcName, handler.method, tc.targetUrl, tc.expectedStatus, gotStatus)

				body, err := io.ReadAll(w.Result().Body)
				assert.Nil(t, err, "want nil")

				validateSchema(t, tc.schema, body)
			})
		}
	}
}
