package {{(cleanName .AppName)}}_test

import (
	"context"
	"testing"
	"time"

	"{{.ProjectName}}/internal/apps/{{.AppName}}/internal/adapters/sqlite3"
	"{{.ProjectName}}/internal/dtos"
	"{{.ProjectName}}/internal/lib"

	"github.com/golang/mock/gomock"
	"github.com/stretchr/testify/assert"
)

func createValid{{capitalize (trimS (cleanName .AppName))}}(t *testing.T) *dtos.Create{{capitalize (trimS (cleanName .AppName))}}Params {
	t.Helper()

	return &dtos.Create{{capitalize (trimS (cleanName .AppName))}}Params{
		Username: randString(5),
		{{if eq (cleanName .AppName) "users"}}
		Email:    randomEmail(),
		Password: randString(8),
		{{end}}
	}
}

func Test{{capitalize (cleanName .AppName)}}Repository_CRUD(t *testing.T) {
	t.Parallel()
	if !INTEGRATION_TESTS {
		t.Errorf("skipping tests | INTEGRATION_TESTS = '%v'", INTEGRATION_TESTS)
		t.FailNow()
	}
	assert.NotNil(t, dbConn, "db connection is nil")

	ctrl := gomock.NewController(t)
	defer ctrl.Finish()

	t.Run("-- create {{trimS (cleanName .AppName)}} with valid data", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)
		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		// create {{trimS (cleanName .AppName)}}
		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, createValid{{capitalize (trimS (cleanName .AppName))}}(t))

		assert.GreaterOrEqualf(t, id, int64(1), "want >= 1, got %d", id)
		assert.Nilf(t, err, "want nil, got %v", err)
	})

	t.Run("-- find all {{(cleanName .AppName)}}", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)
		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		// create {{trimS (cleanName .AppName)}}
		{{(cleanName .AppName)}}, err := repo.Find{{capitalize (cleanName .AppName)}}(ctx, &dtos.Find{{capitalize (cleanName .AppName)}}Params{})

		assert.NotNil(t, {{(cleanName .AppName)}}, "want data, got nil")
		assert.Nilf(t, err, "want nil, got %v", err)
	})

	t.Run("-- get {{trimS (cleanName .AppName)}} with valid id", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		valid{{capitalize (trimS (cleanName .AppName))}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
		// create {{trimS (cleanName .AppName)}}
		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, valid{{capitalize (trimS (cleanName .AppName))}})

		assert.GreaterOrEqualf(t, id, int64(1), "want >= 1, got %d", id)
		assert.Nilf(t, err, "want nil, got %v", err)

		// verify the created {{trimS (cleanName .AppName)}}
		got{{capitalize (trimS (cleanName .AppName))}}, err := repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: id,
		})
		assert.Nilf(t, err, "want nil, got %v", err)

		assert.Equalf(t, valid{{capitalize (trimS (cleanName .AppName))}}.Email, got{{capitalize (trimS (cleanName .AppName))}}.Email, "want '%s', got '%s'", valid{{capitalize (trimS (cleanName .AppName))}}.Email, got{{capitalize (trimS (cleanName .AppName))}}.Email)
		assert.Equalf(t, valid{{capitalize (trimS (cleanName .AppName))}}.Username, got{{capitalize (trimS (cleanName .AppName))}}.Username, "want '%s', got '%s'", valid{{capitalize (trimS (cleanName .AppName))}}.Username, got{{capitalize (trimS (cleanName .AppName))}}.Username)
	})

	t.Run("-- update {{trimS (cleanName .AppName)}} with valid id", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		valid{{capitalize (trimS (cleanName .AppName))}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)

		// create {{trimS (cleanName .AppName)}}
		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, valid{{capitalize (trimS (cleanName .AppName))}})

		assert.GreaterOrEqualf(t, id, int64(1), "want >= 1, got %d", id)
		assert.Nilf(t, err, "want nil, got %v", err)

		updated{{capitalize (trimS (cleanName .AppName))}} := &dtos.Update{{capitalize (trimS (cleanName .AppName))}}Params{
			ID:       id,
			Username: addrOfStr(randString(5)),
			Email:    addrOfStr(randomEmail()),
		}

		// update {{trimS (cleanName .AppName)}}
		err = repo.Update{{capitalize (trimS (cleanName .AppName))}}(ctx, updated{{capitalize (trimS (cleanName .AppName))}})
		assert.Nilf(t, err, "want nil, got %v", err)

		// verify the update
		got{{capitalize (trimS (cleanName .AppName))}}, err := repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: id,
		})
		assert.Nilf(t, err, "want nil, got %v", err)

		assert.Equalf(t, *updated{{capitalize (trimS (cleanName .AppName))}}.Email, got{{capitalize (trimS (cleanName .AppName))}}.Email, "want '%s', got '%s'", *updated{{capitalize (trimS (cleanName .AppName))}}.Email, got{{capitalize (trimS (cleanName .AppName))}}.Email)
		assert.Equalf(t, *updated{{capitalize (trimS (cleanName .AppName))}}.Username, got{{capitalize (trimS (cleanName .AppName))}}.Username, "want '%s', got '%s'", *updated{{capitalize (trimS (cleanName .AppName))}}.Username, got{{capitalize (trimS (cleanName .AppName))}}.Username)
	})

	t.Run("-- delete {{trimS (cleanName .AppName)}} with valid id", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		valid{{capitalize (trimS (cleanName .AppName))}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)

		// create {{trimS (cleanName .AppName)}}
		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, valid{{capitalize (trimS (cleanName .AppName))}})

		assert.GreaterOrEqualf(t, id, int64(1), "want >= 1, got %d", id)
		assert.Nilf(t, err, "want nil, got %v", err)

		// delete {{trimS (cleanName .AppName)}}
		err = repo.Delete{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Delete{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: id,
		})
		assert.Nilf(t, err, "want nil, got %v", err)

		// verify the delete
		got{{capitalize (trimS (cleanName .AppName))}}, err := repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: id,
		})
		assert.Nilf(t, got{{capitalize (trimS (cleanName .AppName))}}, "want nil, got %v", got{{capitalize (trimS (cleanName .AppName))}})
		assert.ErrorIs(t, err, lib.ErrNoRecord, "want lib.ErrNoRecord, got %s", err)
	})
}

func Test{{capitalize (cleanName .AppName)}}Repository_NonExistentID(t *testing.T) {
	t.Parallel()
	if !INTEGRATION_TESTS {
		t.Errorf("skipping tests | INTEGRATION_TESTS = '%v'", INTEGRATION_TESTS)
		t.FailNow()
	}

	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	// mockLogger := NewMockILogger(ctrl)

	t.Run("-- read {{trimS (cleanName .AppName)}} with invalid id", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()


		got{{capitalize (trimS (cleanName .AppName))}}, err := repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: -1,
		})
		assert.Nilf(t, got{{capitalize (trimS (cleanName .AppName))}}, "want nil, got %v", got{{capitalize (trimS (cleanName .AppName))}})
		assert.NotNil(t, err)
		assert.ErrorIs(t, lib.ErrNoRecord, err)
	})
	t.Run("-- update {{trimS (cleanName .AppName)}} with invalid id", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		err := repo.Update{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Update{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: -1,
		})

		assert.NotNil(t, err)
		assert.ErrorIs(t, lib.ErrNoRecord, err)
	})
	t.Run("-- delete {{trimS (cleanName .AppName)}} with invalid id", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		err := repo.Delete{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Delete{{capitalize (trimS (cleanName .AppName))}}Params{
			ID: -1,
		})

		assert.NotNil(t, err)
		assert.ErrorIs(t, lib.ErrNoRecord, err)
	})
}

func Test{{capitalize (cleanName .AppName)}}Repository_ConstrainsValidation(t *testing.T) {
	t.Parallel()
	if !INTEGRATION_TESTS {
		t.Errorf("skipping tests | INTEGRATION_TESTS = '%v'", INTEGRATION_TESTS)
		t.FailNow()
	}

	ctrl := gomock.NewController(t)
	defer ctrl.Finish()



	t.Run("-- unique {{trimS (cleanName .AppName)}}name", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		{{trimS (cleanName .AppName)}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
		repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})


		{{if eq (cleanName .AppName) "users"}}{{trimS (cleanName .AppName)}}.Email = randomEmail(){{end}}

		_, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})

		assert.NotNil(t, err, "want unique constraint error, got nil", err)
		assert.Equal(t, "{{trimS (cleanName .AppName)}}name already exists", err.Error())
	})

	t.Run("-- empty {{trimS (cleanName .AppName)}}name", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		{{trimS (cleanName .AppName)}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
		{{trimS (cleanName .AppName)}}.Username = ""

		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})
		assert.Negative(t, id)
		assert.NotNilf(t, err, "want CHECK constraint failed, got: '%v'", err)
	})

	{{if eq (cleanName .AppName) "users"}}
		t.Run("-- unique email", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		{{trimS (cleanName .AppName)}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
		repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})

		_, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})

		assert.NotNil(t, err, "want unique constraint error, got nil", err)
		assert.Equal(t, "email already exists", err.Error())
	})
	t.Run("-- empty email", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		{{trimS (cleanName .AppName)}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
		{{trimS (cleanName .AppName)}}.Email = ""

		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})
		assert.Negative(t, id)
		assert.NotNilf(t, err, "want CHECK constraint failed, got: '%v'", err)
	})
	t.Run("-- empty password", func(t *testing.T) {
		t.Parallel()
		mockLogger := NewMockILogger(ctrl)
		repo := sqlite3.NewRepository(dbConn, mockLogger)

		ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
		defer cancel()

		{{trimS (cleanName .AppName)}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
		{{trimS (cleanName .AppName)}}.Password = ""

		id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})
		assert.Negative(t, id)
		assert.NotNilf(t, err, "want CHECK constraint failed, got: '%v'", err)
	})
	{{end}}
}

{{if eq (cleanName .AppName) "users"}}
func Test{{capitalize (cleanName .AppName)}}Repository_HashingPassword(t *testing.T) {
	t.Parallel()
	if !INTEGRATION_TESTS {
		t.Errorf("skipping tests | INTEGRATION_TESTS = '%v'", INTEGRATION_TESTS)
		t.FailNow()
	}

	ctrl := gomock.NewController(t)
	defer ctrl.Finish()
	mockLogger := NewMockILogger(ctrl)

	repo := sqlite3.NewRepository(dbConn, mockLogger)

	plainTextPassword := "securepassword"
	password, err := rootApp.Hash(plainTextPassword)
	assert.Nilf(t, err, "hashing failed, got err %v", err)

	{{trimS (cleanName .AppName)}} := createValid{{capitalize (trimS (cleanName .AppName))}}(t)
	{{trimS (cleanName .AppName)}}.Password = password

	ctx, cancel := context.WithTimeout(context.Background(), time.Second*1)
	defer cancel()
	// create {{trimS (cleanName .AppName)}}
	id, err := repo.Create{{capitalize (trimS (cleanName .AppName))}}(ctx, {{trimS (cleanName .AppName)}})
	assert.Nilf(t, err, "create {{trimS (cleanName .AppName)}} failed, got err %v", err)

	// get {{trimS (cleanName .AppName)}}
	{{trimS (cleanName .AppName)}}FromRepo, err := repo.Get{{capitalize (trimS (cleanName .AppName))}}(ctx, &dtos.Get{{capitalize (trimS (cleanName .AppName))}}Params{
		ID: id,
	})
	assert.Nilf(t, err, "want nil, got err %v", err)

	ok, err := rootApp.CompareHashAndPassword(plainTextPassword, {{trimS (cleanName .AppName)}}FromRepo.HashedPassword)
	assert.Nilf(t, err, "want nil, got err: %v", err)
	assert.Equalf(t, true, ok, "password '%s' and hash '%s' doesn't match", password, {{trimS (cleanName .AppName)}}FromRepo.HashedPassword)
}
{{end}}
