package api

import (
	 {{range .AppNames}}
	 "{{$.ProjectName}}/internal/apps/{{.}}"
	 {{else}} 	
	 // "{{.ProjectName}}/internal/apps/someapp"
	 {{end}}
	"{{.ProjectName}}/internal/lib"
)

func Main(rootApp lib.IApp) error {
	{{range .AppNames}}
	{{.}}.InitApp(rootApp)
	{{else}} 	
	// someapp.InitApp(rootApp)
	{{end}}
	return rootApp.ServeHTTP()
}
