package api

import (
	{{if (ne .AppName "")}}
	"{{.ProjectName}}/internal/apps/{{.AppName}}"
	{{else}}
	// "{{.ProjectName}}/internal/apps/someapp"
	{{end}}
	"{{.ProjectName}}/internal/lib"
)

func Main(idi lib.IApp) error {
	// inject root app to other apps
	{{if (ne .AppName "")}}
	{{.AppName}}.InitApp(rootApp)
	{{else}}
	// someapp.InitApp(rootApp)
	{{end}}

	return idi.ServeHTTP()
}
