package lib

import (
	"os"
	"strconv"
	"time"
	"strings"
	
	_ "github.com/joho/godotenv/autoload"
)

type config struct {
	port            int
	env             string
	baseURL         string
	trustedOrigins  []string
	contextTimeout  time.Duration
	{{if .IsAuth}}
		{{if .IsPaseto}}
			symmetricKey    string
		{{else}}
			jwtSecret       string
		{{end}}
		tokenExpiration time.Duration
	{{end}}
}



const (
	defaultPort            int           = 4200
	defaultENV             string        = "development"
	defaultBaseURL         string        = "http://localhost:4200"
	defaultContextTimeout  time.Duration = time.Second * 3
	{{if .IsAuth}}
		{{if .IsPaseto}}
			defaultSymmetricKey    string        = "e4d91d0399a767f636b78172a72324cc"
		{{else}}
			defaultJWTSecret       string        = "762898e6b788045334ab11d18e3a9c21e4d91d0399a767f636b78172a72324cc"
		{{end}}
		defaultTokenExpiration time.Duration = time.Hour
	{{end}}
)

var (
	port            = os.Getenv("PORT")
	env             = os.Getenv("ENVIRONMENT")
	baseURL         = os.Getenv("BASE_URL")
	trustedOrigins                 = os.Getenv("TRUSTED_ORIGINS")
	defaulttrustedOrigins []string = []string{"*"}
	contextTimeout  = os.Getenv("CONTEXT_TIMEOUT")
	{{if .IsAuth}}
		{{if .IsPaseto}}
			symmetricKey    = os.Getenv("SYMMETRIC_KEY")
		{{else}}
			jwtSecret       = os.Getenv("JWT_SECRET")
		{{end}}
		tokenExpiration = os.Getenv("TOKEN_EXPIRATION")
	{{end}}
)

func configure() (cfg *config, err error) {
	cfg = &config{
		port:            defaultPort,
		env:             defaultENV,
		baseURL:         defaultBaseURL,
		contextTimeout:  defaultContextTimeout,
		{{if .IsAuth}}
			{{if .IsPaseto}}
				symmetricKey:    defaultSymmetricKey,
			{{else}}
				jwtSecret:       defaultJWTSecret,
			{{end}}
			tokenExpiration: defaultTokenExpiration,
		{{end}}
	}
	if port != "" {
		if i, err := strconv.Atoi(port); err == nil {
			cfg.port = i
		} else {
			return nil, err
		}
	}

	if env != "" {
		cfg.env = env
	}

	if baseURL != "" {
		cfg.baseURL = baseURL
	}

	if contextTimeout != "" {
		if i, err := strconv.Atoi(contextTimeout); err == nil {
			cfg.contextTimeout = time.Duration(i) * time.Second
		} else {
			return nil, err
		}
	}

	if trustedOrigins != "" {
		origins := strings.Split(trustedOrigins, ",")
		for i, url := range origins {
			origins[i] = strings.TrimSpace(url)
		}
		cfg.trustedOrigins = origins
	}

	{{if .IsAuth}}
		{{if .IsPaseto}}
			if symmetricKey != "" {
				cfg.symmetricKey = symmetricKey
			}
		{{else}}
			if jwtSecret != "" {
				cfg.jwtSecret = jwtSecret
			}
		{{end}}
		if tokenExpiration != "" {
			if i, err := strconv.Atoi(tokenExpiration); err == nil {
				cfg.tokenExpiration = time.Duration(i) * time.Hour
			} else {
				return nil, err
			}
		}
	{{end}}
	return cfg, nil
}